[bumpversion]
current_version = 0.1.0
commit = True
tag = False

[bumpversion:file:templates/api.cfn]
search = Kyivmural API v{current_version}
replace = Kyivmural API v{new_version}

[bumpversion:file:templates/database.cfn]
search = Kyivmural API v{current_version}
replace = Kyivmural API v{new_version}

[bumpversion:file:templates/kyivmural-api.cfn]
search = Kyivmural API v{current_version}
replace = Kyivmural API v{new_version}

[bumpversion:file:templates/api-specification.yml]
search = version: {current_version}
replace = version: {new_version}

[bumpversion:file:readme.md]
search = version {current_version}
replace = version {new_version}