[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
boto3 = "*"

[dev-packages]
pytest = "*"
cfn-lint = "*"
black = {version = "*", pre="true"}
isort = {version = "*", pre="true"}
bump2version = "*"
moto = "*"
pytest-cov = "*"
pylint = "*"
flake8 = "*"
pycodestyle = "*"
mypy = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
