[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"

[dev-packages]
pytest = "*"
cfn-lint = "*"
click = "*"
black = {version = "*", pre="true"}
isort = {version = "*", pre="true"}
bump2version = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
